

body {
    margin: 0;
    background-image: url("./media/bg1.png");

    
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
    height: 100vh;
    width: 100%;
    /* background-image: url(media/bg1.png); */
    background-position: cover;
    margin: 0;
    padding-left: 7%;
    padding-right: 1%;
    padding-top: 1%;
    box-sizing: border-box;
    position: relative;
}

.topnav {
    width: 100%;
    height: 20vh;
    /*margins*/
    display: flex;
    align-items: center; 
    flex-direction: column;
}

.logo {
    margin-top: 1rem;
    width: 12rem;
}

#navbar_top {
    margin-top: 3.5vh;
}

.logo:hover {
    cursor: pointer;
    opacity: 0.8;
}

.wAI {
    width: 4rem;
}

.wAI:hover {
    cursor: pointer;
    opacity: 0.8;
}

nav {
    flex: 1;
    margin-left: 2%;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3rem;
    margin-right: 3rem;
}
#names {
    position: fixed;
    bottom: 0;
    left: 5;
    margin-left: 3vh;
  }


nav ul li a {
    font-family: inherit;
    text-decoration: none;
    font-size: 225%;
    color: black;
}

nav ul li a:hover {
    opacity: 0.8;
}

.main h1 {
    font-family: inherit;
    font-size: 4rem;
    color: black;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 7.5vw;
}

.main h2 {
    font-family: inherit;
    font-size: 3rem;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#differenth2 {
    font-family: inherit;
    font-size: 3rem;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main p {
    font-family: inherit;
    font-size: 1.5rem;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 7.5vw;
}

#p2 {
    font-family: inherit;
    font-size: 1.5rem;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main {
    margin-top: 3rem;
    margin-left: 0rem;
}

.rounded-button {
    margin-top: 1rem;
    font-family: inherit;
    font-size: 1.2rem;

    display: inline-block;
    background: linear-gradient(30deg, #8d87eb, #78c1fe);
    border: none;
    border-radius: 7px;

    outline-style: solid;
    outline-color: black;
    outline-width: 1px;

    padding: 0.75rem 1rem;
    text-decoration: none;
    box-sizing: border-box;
    color: black;

    box-shadow: 0 0 3rem -0.5rem black;
    margin-left: 7.5vw;
}

.rounded-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

/*
input[type='file'] {
    display:none;
}*/

.file-upload {
    display: none;
}

.media {
    height: 30vw;
    /* width: 30vw; */
    position: absolute;
    bottom: 13%;
    right: 10%;
    z-index: -1337;
}

.two-content-1 {
    /* padding-left: "50px"; */
    width: 30%;
    float: left;
}

.two-content-2 {
    width: 69%;
    float: right;
    /* margin-top: 0; */
    /* margin-bottom: 0; */
}

.two-content-2 ul {
    list-style-type: none;
}

.chapter-title {
    font-family: inherit;
    font-size: 2rem;
    color: black;
    margin-bottom: 0;
}

.chapter-timestamps {
    font-family: inherit;
    font-size: 1rem;
    color: black;
    margin-bottom: 0;
}

.two-content-2 .chapter-description {
    font-family: inherit;
    font-size: 1.2rem;
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    margin: 37px;
}
.chapter-description div {
    white-space: pre-wrap;
}
label.custom-file-upload a.rounded-button {
    max-width: 238px;
    /* height: 67px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

input {
    width: 40%;
    height: 40px;
}